@import '../../app.scss';

.portfolio
{
    position: relative;
    background: linear-gradient(180deg, rgba(114,230,238,1) 36%, rgba(235,207,181,1) 96%);

    .progress
    {
        position: sticky; /* pour que "Mes projets" ne bougent pas lors du scroll */
        right: 0;
        top: 0;
        left: 0;
        padding: 50px 100px 30px;
        text-align: center;
        color: white;
        backdrop-filter: blur(20px);
        z-index: 50;

        @media (max-width: 950px) 
        {
            padding: 50px 90px 30px;
        }

        @include mobile
        {
            padding: 50px 80px 30px;
        }

        @media (max-width: 650px) 
        {
            padding: 50px 50px 30px;
        }

        @media (max-width: 550px) 
        {
            padding: 50px 50px 30px;
        }

        @media (max-width: 450px) 
        {
            padding: 40px 30px 30px;
        }

        h3
        {
            font-size: 2.5rem;
            font-weight: 600;
            color: $text-color;
            padding-bottom: 10px;

            @include tablet
            {
                font-size: 2.3rem;
            }

            @media (max-width: 900px)
            {
                font-size: 2.1rem;
            }

            @include mobile
            {
                font-size: 2rem;
            }

            @media (max-width: 500px)
            {
                font-size: 1.8rem;
            }

            @media (max-width: 400px) 
            {
                font-size: 1.6rem;
            }

            @media (max-width: 350px) 
            {
                font-size: 1.5rem;
            }
        }

        .progressBar
        {
            height: 7px;
            background-color: $text-color;

            @include mobile
            {
                height: 5.5px;
            }

            @media (max-width: 450px) 
            {
                height: 5px;
            }
        }
    }

    .projects-flex
    {
        display: flex;
        flex-direction: column;
        gap: 200px;

        @include mobile
        {
            gap: 150px;
        }

        @media (max-width: 400px) 
        {
            gap: 200px;
        }
    }

    .nuage
    {
        background-image: url("../../utils/assets/clouds_2.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 1200px;
        height: 250px;
        position: absolute;
        top: 33%;
        left: 250px;
        pointer-events: none;

        @media (max-width: 1500px) 
        {
            left: -100px;
            width: 1000px;
            animation: levitateCloud 10s ease-in-out infinite;

            @keyframes levitateCloud 
            {
                0% {transform: translateX(0);}
                50% {transform: translateX(-200px);}
                100% {transform: translateX(0);}
            }
        }

        @include tablet
        {
            width: 900px;
        }

        @media (max-width: 850px) 
        {
            width: 750px;
            height: 200px;
            left: -200px;
            animation: levitateCloud 10s ease-in-out infinite;

            @keyframes levitateCloud 
            {
                0% {transform: translateX(0);}
                50% {transform: translateX(-100px);}
                100% {transform: translateX(0);}
            }
        }

        @media (max-width: 550px) 
        {
            left: -300px;
        }

        @media (max-width: 500px) 
        {
            left: -350px;
        }

        @media (max-width: 450px) 
        {
            left: -400px;
        }

        @media (max-width: 400px) 
        {
            animation: none;
            width: 560px;
            height: 150px;
            left: -250px;
        }

        @media (max-width: 350px) 
        {
            left: -300px;
        }

        @media (max-width: 310px) 
        {
            left: -370px;
        }
    }

    .avion
    {
        background-image: url("../../utils/assets/avion.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 600px;
        height: 250px;
        position: absolute;
        bottom: 17%;
        right: 3%;
        pointer-events: none;
        
        @include desktop
        {
            width: 500px;
            height: 200px;
            bottom: 20%;
        }

        @include tablet
        {
            width: 350px;
            height: 200px;
            bottom: 27%;
            animation: levitate 5s ease-in-out infinite;

            @keyframes levitate 
            {
                0% {transform: translateY(0);}
                50% {transform: translateY(-30px);}
                100% {transform: translateY(0);}
            }
        }

        @media (max-width: 800px)
        {
            width: 300px;
            height: 150px;
        }

        @media (max-width: 550px) 
        {
            width: 260px;
            height: 150px;
            bottom: 27%;
            left: 43%;
        }

        @media (max-width: 450px) 
        {
            left: 10%;
        }

        @media (max-width: 400px) 
        {
            left: 0%;
            width: 220px;
            height: 110px;
        }

        @media (max-width: 350px) 
        {
            left: 5%;
        }

        @media (max-width: 300px) 
        {
            left: 10%;
            width: 150px;
            height: 90px;
        }
    }
}
