@import '../../app.scss';

.sidebar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100dvh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 102;
    overflow: hidden;
    pointer-events: none;

    @include desktop
    {
        width: 250px;
    }

    @include tablet
    {
        width: 200px;
    }

    @include mobile
    {
        width: 150px;
    }

    @media (max-width: 550px) 
    {
        width: 130px;
    }

    @media (max-width: 400px) 
    {
        width: 110px;
    }

    &.open
    {
        pointer-events: auto;
    }

    .links
    {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 105;
        pointer-events: none;

        a
        {
            color: rgba(80, 85, 90, 80%);
            font-size: 1.8rem;
            line-height: 3;
            font-weight: 500;
            opacity: 0;
            transform: translateY(-100px);
                transition: 
            opacity 0.6s cubic-bezier(1, 2.67, 0.83, 0.67),
            transform 0.7s cubic-bezier(0.7, 2.67, 0.83, 0.67);
            
            @include desktop
            {
                font-size: 1.6rem;
            }

            @media (max-width: 900px) 
            {
                font-size: 1.3rem;
            }

            @include mobile
            {
                font-size: 1.15rem;
            }

            @media (max-width: 550px) 
            {
                font-size: 1rem;
            }

            @media (max-width: 400px) 
            {
                font-size: 0.9rem;
            }
        }
    }

    &.open .links a
    {
        pointer-events: all;
        opacity: 1;
        transform: translateY(20px);
        transition: 0.7s ease-in;
        &:hover
        {
            scale: 1.2;
            transition: none;
        }
        &:active
        {
            scale: 0.95;
            transition: none;
        }
    }

    .background-expand
    {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        transition: all 1s cubic-bezier(0.5, 0.2, 0.63, 0.5);
        z-index: 100;

        @media (max-width: 950px)
        {
            width: 40px;
            height: 40px;
        }

        @include mobile
        {
            top: 30px;
            right: 30px;
        }

        @media (max-width: 400px) 
        {
            width: 35px;
            height: 35px;
            top: 20px;
            right: 20px;
        }
    }

    &.open
    {
        .background-expand
        {
            width: 1500px;
            height: 200dvh;
            top: -500px;
            right: -500px;
        }
    }
}

.toggle-button 
{          
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 40px;
    top: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: 104;

    @media (max-width: 950px)
    {
        width: 40px;
        height: 40px;
    }

    @include mobile
    {
        top: 30px;
        right: 30px;
    }

    @media (max-width: 400px) 
    {
        width: 35px;
        height: 35px;
        top: 20px;
        right: 20px;
    }

    svg
    {
        opacity: 70%;
        width: 19px;
        height: 19px;
        margin-top: 1px;

        @media (max-width: 950px)
        {
            width: 15px;
            height: 15px;
            margin-top: 2.5px;
        }

        @media (max-width: 400px) 
        {
            width: 13px;
            height: 13px;
        }
    }
}