@import '../../../app.scss';

table
{
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    background-color: rgba($color: #f7f4f454, $alpha: 0.2);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;

    @include tablet 
    {
        min-width: unset;
        width: auto;
        font-size: 1.15rem;
    }

    tr
    {
        display: flex;
    }

    th
    {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;

        @include tablet
        {
            font-size: 1.4rem;
        }
    }

    th, td 
    {
        flex: 1;
        padding: 20px;
        text-align: left;
        display: flex;
        align-items: center;
        border: 1px solid #ffffff62;

        @media (max-width: 850px)
        {
            flex-direction: column-reverse;
            justify-content: center;
            padding: 10px;
            gap: 10px;
            text-align: center;
        }
    }

    td
    {
        height: 80px;

        @media (max-width: 850px)
        {
            height: 95px;
        }
    }
    
    td img 
    {
        width: 45px;
        max-height: 55px;
        height: auto;
        margin-right: 20px;
        filter: grayscale(100%);
        cursor: pointer;

        @include tablet 
        {
            width: 40px;
            max-height: 50px;
        }

        @media (max-width: 850px)
        {
            margin-right: 0;
        }
    }

    td img:hover
    {
        filter: none;
        transition: filter 0.2s ease-in-out;
        transform: scale(1.1);
    }

    #small
    {
        width: 90px;

        @include tablet 
        {
            width: 80px;
        }
    }

    #large
    {
        width: 37px;
        height: 47px;

        @include tablet 
        {
            width: 32px;
            max-height: 42px;
        }
    }
}

.skills-list
{
    display: none;
}



// Si écran inférieur à 800px, le tableau devient une liste

@media (max-width: 700px) 
{
    table 
    {
        display: none;
    }

    .skills-list 
    {
        display: block;
        width: 70%;
        background-color: rgba($color: #f7f4f454, $alpha: 0.2);
        padding: 30px;

        @media (max-width: 550px) 
        {
            padding: 20px;
        }

        @media (max-width: 350px) 
        {
            padding: 10px;
        }

        > ul 
        {
            list-style-type: none;
            padding: 0;

            > li 
            {
                margin-bottom: 30px;

                h4 
                {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 30px;
                    border-bottom: 1px solid #ffffff62;
                    padding-bottom: 5px;

                    @media (max-width: 500px) 
                    {
                        font-size: 1.2rem;
                    }

                    @media (max-width: 350px) 
                    {
                        font-size: 1.1rem;
                        margin-bottom: 20px;
                    }
                }

                ul 
                {
                    list-style-type: none;
                    padding: 0;

                    li 
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 15px 20px;
                        font-size: 1.15rem;

                        @media (max-width: 500px) 
                        {
                            font-size: 1rem;
                            margin: 0 10px 15px; 
                        }

                        @media (max-width: 350px) 
                        {
                            font-size: 0.9rem;
                            margin: 0 10px 10px;
                        }

                        img 
                        {
                            width: 35px;
                            height: auto;
                            max-height: 45px;
                            filter: none;

                            @media (max-width: 500px) 
                            {
                                width: 30px;
                                max-height: 37px;
                            }

                            &.small 
                            {
                                width: 60px;

                                @media (max-width: 500px) 
                                {
                                    width: 50px;
                                }
                            }

                            &#large 
                            {
                                @media (max-width: 500px) 
                                {
                                    width: 27px;
                                    max-height: 33px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}