@import "../../app.scss";

.APropos
{
    position: relative;
    width: 100%;
    height: 300dvh;
    background: linear-gradient(180deg, rgba(57,183,231,1) 36%, rgb(114, 230, 238) 96%);
    overflow: hidden;

    @media (max-width: 350px) 
    {
        height: 230dvh;
    }

    .flex
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        #icon-contact
        {
            width: 90px;
            height: 55px;
            margin-top: 30px;
            opacity: 45%;

            @media (max-width: 900px)
            {
                width: 80px;
                height: 50px;
            }

            @include mobile
            {
                width: 70px;
                height: 45px;
            }

            @media (max-width: 500px)
            {
                width: 60px;
                height: 40px;
                margin-top: 20px;
            }

            @media (max-width: 350px) 
            {
                width: 50px;
                height: 30px;
                margin-top: 15px;
            }
        }

        #icon-cv
        {
            width: 65px;
            height: 80px;
            opacity: 45%;

            @include desktop
            {
                width: 60px;
                height: 75px;
            }

            @media (max-width: 850px)
            {
                width: 50px;
                height: 65px;
            }

            @media (max-width: 500px)
            {
                width: 45px;
                height: 55px;
            }

            @media (max-width: 350px)
            {
                width: 37px;
                height: 45px;
            }
        }
        
        /* Animation : https://codepen.io/imagekit_io/pen/OJxapRm */
        #icon-cv:hover, #icon-contact:hover
        {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: vibrate 0.5s;
            /* When the animation is finished, start again */
            animation-iteration-count: infinite;
        }

        @keyframes vibrate 
        {
            0% { transform: rotate(0deg); }
            10% { transform: rotate(-2deg); }
            20% { transform: rotate(2deg); }
            30% { transform: rotate(0deg); }
            40% { transform: rotate(2deg); }
            50% { transform: rotate(-2deg); }
            60% { transform: rotate(0deg); }
            70% { transform: rotate(-2deg); }
            80% { transform: rotate(2deg); }
            90% { transform: rotate(0deg); }
            100% { transform: rotate(-2deg); }
        }

        .description
        {
            height: auto;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 4;
            text-align: justify;
            overflow: hidden;

            @include desktop
            {
                width: 65%;
            }

            @include mobile
            {
                width: 60%;
            }

            h3
            {
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: 50px;
                text-align: center;
                z-index: 4;

                @include desktop
                {
                    width: 65%;
                }

                @include tablet
                {
                    font-size: 2.3rem;
                }

                @media (max-width: 900px)
                {
                    font-size: 2.1rem;
                }

                @include mobile
                {
                    font-size: 2rem;
                    margin-top: 50px;
                }

                @media (max-width: 500px)
                {
                    font-size: 1.8rem;
                }

                @media (max-width: 400px) 
                {
                    font-size: 1.6rem;
                }

                @media (max-width: 350px) 
                {
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                }
            }

            p
            {
                font-size: 1.45rem;
                text-align: justify;
                font-weight: 400;

                @media (max-width: 900px)
                {
                    font-size: 1.35rem;
                }

                @media (max-width: 850px)
                {
                    font-size: 1.3rem;
                }

                @media (max-width: 600px)
                {
                    font-size: 1.2rem;
                }

                @media (max-width: 500px)
                {
                    font-size: 1rem;
                    line-height: 20px;
                }

                @media (max-width: 400px) 
                {
                    font-size: 0.9rem;
                    line-height: 15px;
                }
            }

            strong
            {
                font-weight: 600;
            }
        
            .space /* escpace entre paragraphes */
            {
                margin-top: 50px;

                @media (max-width: 850px)
                {
                    margin-top: 30px;
                }
            }

            .paragraphe
            {
                padding-top: 50px;

                @media (max-width: 850px)
                {
                    padding-top: 30px;
                }
            }
        }

        .skills-container
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 150px;
            max-width: 900px;
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            z-index: 2;

            h3
            {
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: 50px;
                z-index: 4;

                @include tablet
                {
                    font-size: 2.3rem;
                    text-align: center;
                }

                @media (max-width: 900px)
                {
                    font-size: 2.1rem;
                }

                @include mobile
                {
                    font-size: 2rem;
                }

                @media (max-width: 500px)
                {
                    font-size: 1.8rem;
                }

                @media (max-width: 400px) 
                {
                    font-size: 1.6rem;
                    flex-wrap: wrap;
                    margin: 0px 20px 50px;
                    text-align: center;
                }
                
                @media (max-width: 350px) 
                {
                    font-size: 1.5rem;
                    margin: 0px 30px 40px;
                }
            }

            p
            {
                font-size: 1.45rem;
                margin-top: 50px;
                margin-bottom: 30px;

                @media (max-width: 900px)
                {
                    font-size: 1.35rem;
                }

                @media (max-width: 850px)
                {
                    font-size: 1.3rem;
                    margin-bottom: 20px;
                }

                @media (max-width: 600px)
                {
                    font-size: 1.2rem;
                }

                @media (max-width: 500px)
                {
                    font-size: 1rem;
                }

                @media (max-width: 400px) 
                {
                    font-size: 0.9rem;
                }         
                
                @media (max-width: 350px)
                {
                    margin: 40px 30px 5px;
                }
            }
        }
    }
   

    .nuage-1
    {
        background-image: url("../../utils/assets/parallax_apropos/1grand_nuage_devant.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 1100px;
        height: 350px;
        position: absolute;
        left: -200px;
        bottom: 200px;
        z-index: 0;
        pointer-events: none;

        @media (max-width: 1600px) 
        {
            left: -500px;
        }

        @include tablet
        {
            width: 900px;
            height: 350px;
        }

        @media (max-width: 850px)
        {
            bottom: 50px;
            left: -800px;
        }

        @include mobile
        {
            width: 750px;
            height: 300px;
        }

        @media (max-width: 350px)
        {
            width: 650px;
            height: 300px;
            bottom: 0;
        }
    }

    .nuage-2
    {
        background-image: url("../../utils/assets/parallax_apropos/2long_nuage_fond.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1800px;
        height: 300px;
        position: absolute;
        top: 46%;
        right: 400px;
        z-index: 2;
        pointer-events: none;

        @media (max-width: 900px)
        {
            right: 100px;
            width: 1300px;
            height: 250px;
        }

        @media (max-width: 800px)
        {
            right: 200px;
        }

        @media (max-width: 700px)
        {
            top: 38%;
        }

        @media (max-width: 550px) 
        {
            width: 1000px;
            height: 200px;
        }

        @media (max-width: 450px) 
        {
            right: -100px;
            top: 43%;
        }

        @media (max-width: 350px) 
        {
            right: -100px;
            top: 40%;
        }
    }

    .nuage-3
    {
        background-image: url("../../utils/assets/parallax_apropos/3petits_nuages_haut_gauche.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 1200px;
        height: 250px;
        top: 5%;
        left: -200px;
        position: absolute;
        z-index: 2;
        pointer-events: none;

        @include desktop
        {
            top: 20px;
            left: 150px;
        }

        @include tablet
        {
            width: 900px;
            height: 200px;
        }

        @media (max-width: 900px)
        {
            left: -200px;
        }

        @media (max-width: 600px)
        {
            width: 750px;
            height: 150px;
            left: -300px;
        }
}

    .birds
    {
        background-image: url("../../utils/assets/parallax_apropos/birds.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 9%;
        height: 10%;
        position: absolute;
        right: 5%;
        top: -300px;
        z-index: 3;
        pointer-events: none;

        @media (max-width: 1000px)
        {
            width: 13%;
        }

        @include mobile
        {
            width: 15%;
            height: 8%;
        }
        
        @media (max-width: 450px)
        {
            width: 17%;
        }
    }
}